<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tarun Murala Personal Profile">
    <meta name="author" content="Tarun Murala">
    <link rel="icon" href="../../favicon.ico">

    <title>Tarun Murala</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css" />
    <link rel="stylesheet" type="text/css" href="/css/album.css" />
    <link rel="stylesheet" type="text/css" href="/css/cover.css" />
    <link rel="stylesheet" type="text/css" href="/css/fa-all.css" />
  </head>

  <body>

    <div class="site-wrapper site-wrapper-body site-wrapper-album">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="masthead clearfix">
              <div class="inner">
                <h3 class="masthead-brand">Tarun Murala</h3>
                <nav class="nav nav-masthead">
                  <a class="nav-link" href="/">Home</a>
                  <a class="nav-link active" href="/details/">Details</a>
                  <a class="nav-link" href="/projects/">Projects</a>
                  <a class="nav-link" href="/contact/">Contact</a>
                </nav>
              </div>
            </div>
  
            <div class="inner cover">
                  <p class="lead"><h4>A computational process is indeed much like a sorcerer's idea of a spirit. It cannot be seen or touched. It is not composed of matter at all. However, it is very real. It can perform intellectual work. It can answer questions. It can affect the world by disbursing money at a bank or by controlling a robot arm in a factory. The programs we use to conjure processes are like a sorcerer's spells. They are carefully composed from symbolic expressions in arcane and esoteric programming languages that prescribe the tasks we want our processes to perform</h4>
                    <h5>"Structure and Interpretation of Computer Programs"</h5>
                    </p>
                </div>
          </div>
        </div>
      </div>
    
        <div class="album text-muted">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <img class="rounded-circle" width="200" height="200" src="/images/servicenow.png" alt="Servicenow" />
                    </div>  
                    <div class="card">
                        <img class="rounded-circle" width="200" height="200" src="/images/oracle.png" alt="Oracle Inc.">
                    </div>
                    <div class="card">
                        <img class="rounded-circle" width="200" height="200" src="/images/wipro.jpeg" alt="Wipro Technologies">
                    </div>
                    <div class="card">
                        <img class="rounded-circle" width="200" height="200" src="/images/hp.png" alt="HP Software">
                    </div>
                </div>
            </div>
        </div>

      <!-- Resume Details -->
        <div class="container resume-container">
              <div class="row">
                <div class="col-sm-12 blog-main">
                  <div class="blog-post">
                    <h2 class="blog-post-title">Professional Exprience</h2>
        
                    <p>Nine+ years experience in developing UI, Java and J2EE based applications, was
                            working with Web, Security frameworks and Web services.</p>
                    <hr>
                    
                    <!--Skills-->
                    <section id="skills" class="secPad white">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Programming Skills</h2>
                                    <p class="mrgBtm20">
                                        It takes knowledge, smart work, and dedication to make great ideas come to life. I have been helping make great ideas happen for the past 7 years and am always ready for new challenges.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">Java/J2EE</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">JS</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">HTML/CSS</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                    <span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">Python</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h2>Logical Skills</h2>
                                    <p class="mrgBtm20">
                                        Problem solving is not always about sitting in a board room talking about the way things should be done. I have a strong background in problem solving and design which allows me to think on my feet and act upon it.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">Algorithms</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">DataStructs</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 skilltitle">ML</div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                                    <span class="sr-only">65% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                  </div>
                </div>
            </div>

            <div class="row mb-2 card-row-padding">
                <div class="col-md-12">
                  <div class="description-card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="description-card-body card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-primary">ServiceNow</strong>
                      <div class="mb-1 text-muted"><h6>Jan 2014 to Present</h6></div>
                      <p class="card-text mb-auto">
                          Manager and Dev Lead for Project Portfolio Suite of applications.  <br/>
                          Wrote the core critical algorithms for the solving the complex project management for 
                          the project implementing the waterfall and agile development methodologies <br/>
                      </p>
                    </div>
                    <div class="description-card-img-div">
                            <img class="description-card-img card-img-right flex-auto d-none d-lg-block" src="/images/servicenow.png" alt="ServiceNow" data-holder-rendered="true" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="description-card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="description-card-body card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Oracle</strong>
                        <div class="mb-1 text-muted"><h6>Dec 2011 to Jan 2014</h6></div>
                        <p class="card-text mb-auto">
                            Dev Lead and Primary developer for the Oracle Q, 
                            Integration with Adobe EchoSign and Oracle Social Network.<br/>
                            Perfomrance tuned Oracle Advanced Pricing Packages
                        </p>
                        </div>
                        <div class="description-card-img-div">
                            <img class="description-card-img card-img-right flex-auto d-none d-lg-block" src="/images/oracle.png" alt="Oracle" data-holder-rendered="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="description-card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="description-card-body card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Wipro Techonologies</strong>
                        <div class="mb-1 text-muted"><h6>Oct 2009 to Present</h6></div>
                        <p class="card-text mb-auto">
                            Joined as Project Engineer through the campus placement.  <br/>
                            Predominately worked on the Telecom Equipment services 
                            on the Network / Element Management System (NMS/EMS) <br/>
                            Primary developer of DataSource Adapter for Network Analyzer Fiber.
                        </p>
                        </div>
                        <div class="description-card-img-div">
                                <img class="description-card-img card-img-right flex-auto d-none d-lg-block" src="/images/wipro.jpeg" alt="Wipro" data-holder-rendered="true" />
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12">
                        <div class="description-card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="description-card-body card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">HP</strong>
                            <div class="mb-1 text-muted"><h6>College Intern</h6></div>
                            <p class="card-text mb-auto">
                                Diagonising and Reporting customer issues with HP softwares
                            </p>
                            </div>
                            <div class="description-card-img-div">
                                <img class="description-card-img card-img-right flex-auto d-none d-lg-block" src="/images/hp.png" alt="HP" data-holder-rendered="true" />
                            </div>
                        </div>
                    </div>
              </div>


            <div class="mastfoot-album">
                <div class="inner">
                    <!-- <p>Follow me <a href="https://twitter.com/tarun_murala">@tarun-murala</a></p> -->
                    <div class="social text-center">
                        <span class="fa-icon-class"><a href="https://www.linkedin.com/in/tarunkumarm" target="new"><i style="color:#333" class="fa-2x fab fa-linkedin-in"></i></a></span>
                        <span class="fa-icon-class"><a href="https://twitter.com/tarun_murala" target="new"><i style="color:#333" class="fa-2x fab fa-twitter"></i></a></span>
                        <span class="fa-icon-class"><a href="https://www.facebook.com/Tarun.Murala" target="new"><i style="color:#333" class="fa-2x fab fa-facebook"></i></a></span>
                        <span class="fa-icon-class"><a href="https://github.com/tarun-murala" target="new"><i style="color:#333" class="fa-2x fab fa-github"></i></a></span>
                    </div>
                </div>
            </div>
        </div>


    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/js/tether.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/fa-all.js"></script>
  </body>
</html>
